__pycache__/
*.pyc
inventory/*.csv
split_priority_v0/inputs/
split_priority_v0/*.csv
split_priority_v0/*.json
crops_priority_v0/inputs/
crops_priority_v0/logs/
crops_priority_v0/local_images/
crops_priority_v0/local_export_staging/
crops_priority_v0/pilot/
crops_priority_v0/images/
crops_priority_v0/image_staging/
crops_priority_v0/*.csv
crops_priority_v0/*.json
multifocal_priority_v0/*.csv
multifocal_priority_v0/*.json
multifocal_priority_v0/*.h5
multifocal_priority_v0/*.jpg
multifocal_priority_v0/pilot/
